---
title: List of geometrix design libraries
category: documentation
---

<script lang="ts">
	//import { base } from '$app/paths';
</script>


# {title}

Below a list of libraries of 3D-part-designs based on *Geometrix*:

1. designix : [src](https://github.com/charlyoleg2/parametrix) -
	[ui](https://charlyoleg2.github.io/parametrix/) -
	[pkg](https://www.npmjs.com/package/designix) -
	[pkg-cli](https://www.npmjs.com/package/designix-cli) -
	[pkg-uis](https://www.npmjs.com/package/designix-uis) :
	The first and reference design library. *Geometrix* features were selected to support those designs
2. desi51 : [src](https://github.com/charlyoleg2/parame51) -
	[ui](https://charlyoleg2.github.io/parame51/) -
	[pkg](https://www.npmjs.com/package/desi51) :
	First batch of geometrix design examples for the tutorial
3. desi52 : [src](https://github.com/charlyoleg2/parame52) -
	[ui](https://charlyoleg2.github.io/parame52/) -
	[pkg](https://www.npmjs.com/package/desi52) :
	Second batch of geometrix design examples for the tutorial
4. desi53 : [src](https://github.com/charlyoleg2/parame53) -
	[ui](https://charlyoleg2.github.io/parame53/) -
	[pkg](https://www.npmjs.com/package/desi53) :
	Third batch of geometrix design examples for the tutorial
5. desi53b : [src](https://github.com/charlyoleg2/parame53) -
	[ui](https://charlyoleg2.github.io/parame53/) -
	[pkg](https://www.npmjs.com/package/desi53b) :
	Fourth batch of geometrix design examples for the tutorial
6. desi78 : [src](https://github.com/charlyoleg2/parame78) -
	[ui](https://charlyoleg2.github.io/parame78/) -
	[pkg](https://www.npmjs.com/package/desi78) :
	The designs of Charlyoleg
7. desi82 : [src](https://github.com/charlyoleg2/parame82) -
	[ui](https://charlyoleg2.github.io/parame82/) -
	[pkg](https://www.npmjs.com/package/desi82) :
	The designs of a friend
8. desi15L : [src](https://github.com/charlyoleg2/parame15L) -
	[ui](https://charlyoleg2.github.io/parame15L/) -
	[pkg](https://www.npmjs.com/package/desi15L) :
	The designs of a junior developer


Glossary:

- designer : Author of a design-libray. He writes javascript using *geometrix*. *Parametrix* generates web-pages from that javascript.
- maker : He uses those web-pages, chooses the parameter values, exports the design as 3D-scripts and then 3D-files (.stl, .brep).
- **src** : The git-repository of the javascript for the design-library. [open-source]
- **ui** : The web-pages of the design-library. [for makers]
- **pkg** : The design-library published on *npmjs.com*. So those designs can be re-used in further designs. [for other designers]
- **pkg-cli** : The design-library embedded in a *command-line-tool*. Useful for automation. [for makers (working with scripts)]
- **pkg-ui** : The design-library embedded in a *local web-server*. Useful for offline work. [for makers]


If you want to get your *geometrix design library* in this list, please, create a [Github issue](https://github.com/charlyoleg2/parametrix/issues) with a link to your library.


<style lang="scss">
	@use '$lib/style/colors.scss';

</style>
